# Zone.Identifier files
*:Zone.Identifier

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor Directories and Files
.idea/
.vscode/
*.swp
*.swo
*~

# Temporary Files
*.tmp
*.bak

# Log Files
*.log

# Environment Variables
.env
.env.*